<h2>トレーニング一覧</h2>
<span>選んだコース以外の筋トレも取り入れてみよう！</span>
  <% @contents.each do |content| %>
  <ul class="col">
    <div class="thumbnail__caption">
      <h3 class="text-xsmall text-overflow" title="コース名">
        <%= content.course_name %>
      </h3>
      <li>
        <%= content.menu_name_1 %>
      </li>
      <li>
        <%= content.menu_name_2 %>
      </li>
      <li>
        <%= content.menu_name_3 %>
      </li>
    </div>
  </ul>
  <% end %>
