<div class = "contents row" style="margin-left: 30px; margin-right: 30px;">
  <h2>トレーニング一覧</h2>
  <span>選んだコース以外の筋トレも取り入れてみよう！<br></span>
  <br>
    <% @contents.each do |content| %>
    <div class = "training_contents">
      <span class= "yellow_line" title="コース名">
        <strong>
        <%= content.course_name %>
        </strong>
      </span>
      <br>
      <br>
        <li>
          1. <%= link_to "#{content.menu_name_1_text}", "/contents/#{content.menu_name_1}" %>
        </li>
      <br>
        <li>
          2. <%= link_to "#{content.menu_name_2_text}", "/contents/#{content.menu_name_2}" %>
        </li>
      <br>
        <li>
          3. <%= link_to "#{content.menu_name_3_text}", "/contents/#{content.menu_name_3}" %>
        </li>
    </div>
    <br>
    <% end %>
</div>
