<!-- ログアウトした際に表示する画面 -->
<div class="toppage">

<p class="concept">
サービスのコンセプト/説明
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
あ<br>
</p>

・<%= link_to 'ログイン', "/users/sign_in", class: 'post' %><br>
・<%= link_to 'コンテンツ一覧', "/contents" %><br>
・<%= link_to '新規登録', "/users/sign_up", class: 'post' %><br>

</div>
