<!-- ログアウトした際に表示する画面 -->
  <div class="toppage">
    <center>
    <strong>
    <p class="concept">
    <br>
    <br>
    <br>
    <br>
    太っている人が痩せていくストーリーは世にたくさんあふれている。<br>
    でも、痩せている人が筋肉をつけていくストーリーはほとんどない。<br>
    「腕が細いから夏でも半袖しか着ない」<br>
    「自分の身体に自信がない」<br>
    痩せている本人にしかわからない悩みがそこにはあると思います。<br>
    <br>
    そんなあなたに向けた"筋トレ管理Webアプリ"『BoneBone』<br>
    こちらですでに筋トレのコースをご用意！<br>
    <br>
    例えば、<br>
    「スーツのにあう厚い胸板を手に入れたい！」<br>
    「夏には半袖を着れる身体になりたい！」<br>
    <br>
    コースを組んであるので自分で調べることなく筋トレを始められます。<br>
    <br>
    痩せている方は、目に見えた成果が出にくいです。<br>
    だからこそ、ポイント制を導入し筋トレを楽しく継続して行えるようにしています。<br>
    <br>
    <br>
    筋トレで毎日をHappyに。<br>
    <br>
    早速、新規登録をしてみましょう！！<br>
    <br>
    <br>
    <br>
    <br>
    </p>
    </strong>
    </center>
    <div align="right">
      <%= link_to '新規登録', "/users/sign_up", class: 'post' %><br>
      <%= link_to 'ログイン', "/users/sign_in", class: 'post' %><br>
      <%= link_to 'コンテンツ一覧', "/contents" %><br>
    </div>
  </div>
