<div class = "contents row" style="margin-left: 30px; margin-right: 30px;">
  <h3>
    投稿が完了しました。
  </h3>
  <div class="">
    <a class="btn" href="/users/current_user.id">マイページへ戻る</a>
  </div>
</div>
