  body {
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    width: 960px;
    margin: 0 auto;
  }



  header {
    background-color: #00FF99;
    margin-left: auto;
    margin-right: auto;

  }

  .BoneBone {
    width: 10%;
    height: 10%;
  }

  .navbar {
    height: 50px;
    width: 960px;
    background-color: #A9A9A9;
    padding: 5px 0;
    margin: 0 auto;
  }

  .navbar ul {
    margin: 15px 0 15px 0;
  }

  title {
   font-family: fantasy;
  }



  h1,h2,h4,h5,h6 {
    padding: 10px 0;
  }

  h3 {
    padding: 10px 0 0 0;
  }

  p {
    padding: 5px 0;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


 li {
  list-style: none;
  padding: 0;
  margin: 0;
}



.today_training {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  border-color: #00CC99 ;
  border-style: solid;
  border-width: 3px
}

.todo_comment {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  border-color: #00CC99 ;
  border-style: solid;
  border-width: 3px
}


.progress {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  border-color: #00CC99 ;
  border-style: solid;
  border-width: 3px
}

.sum_progress {
  color: #FF99CC ;
}


.timeline {
 width: 960px;
 border-width: 1px;
 border-style: solid;
 border-color: #00CC99 ;
 padding: 10px 0 10px 10px;
 margin: 5px auto;
}

  td {
    margin: 0;
    padding-left: 10px;
    line-height: 30px;
  }

.concept {
   background-image: url('http://free-photos-o04.gatag.net/stocks01/gf01a201503150700vk7gx.jpg');
   background-size: cover;
}

